/* ========== Task Details ========== */
#task-details {
    width: 300px;
    background-color: #26282a;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .task-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .task-details-header input[type="checkbox"] {
    margin-right: 16px;
    width: 20px;
    height: 20px;
  }

  .task-details-header .date {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
  }

  .task-details-header .priority {
    font-size: 14px;
    color: #777;
    text-align: right;
  }
  
  .task-separator {
    height: 1px;
    background-color: #ddd;
    margin: 16px 0;
  }
  
  .details-title {
    font-size: 18px;
    font-weight: bold;
    color: #f1f1f1;
    margin-bottom: 8px;
  }
  
  .task-notes {
    font-size: 14px;
    color: #e5e5e5;
    margin-bottom: 16px;
  }
  
  .task-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    font-size: 14px;
  }


.details-notes::placeholder {
    color: #ccc;
}

#details-notes:focus {
    outline: 2px solid #4f6378;
}