#central-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #24272b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  header h2 {
    font-size: 1.5rem;
    color: #c0cfde;
  }

  #section-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  #current-section-title {
    margin: 0;
  }